@model ForgetPasswordRequest
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/evolved_tax_mark_logo.ico">
    <title>@ViewData["Title"] - Sceurity Information EvoForms</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/loader.css" />
        <link rel="stylesheet" href="~/lib/iziToast/dist/css/iziToast.min.css" />
        <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet">
        <link href="~/lib/select2/dist/css/select2-bootstrap4.min.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/loader.css" />
        <link rel="stylesheet" href="~/lib/iziToast/dist/css/iziToast.min.css" />
        <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet">
        <link href="~/lib/select2/dist/css/select2-bootstrap4.min.css" rel="stylesheet">
    </environment>

    <style>
        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

        /* Hide all steps by default: */
        .tab {
            display: none;
        }

        /* Make circles that indicate the steps of the form: */
        .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border: none;
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
        }

            /* Mark the active step: */
            .step.active {
                opacity: 1;
            }

            /* Mark the steps that are finished and valid: */
            .step.finish {
                background-color: #04AA6D;
            }

        p {
            font-size: large;
            color: white;
        }

        .text-center {
            text-align: center;
            margin-bottom: 30px;
        }

        /* .text-center span {
                                                                                        display: inline-block;
                                                                                        border-radius: 5px;
                                                                                        background-color: #1AB394;
                                                                                        /*width: 20%;*/
        }

        */

        .text-center p {
            text-align: center;
            margin: 10px;
            display: inline-block;
            border-radius: 5px;
            background-color: #1AB394;
        }

        .form-box {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 4px;
            margin: 20px;
        }
    </style>
</head>
<body class="white-bg">
    <partial name="_busyIndicator" />
    <div id="emailDiv" class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div style="margin-top:60%">
                <img src="~/images/evolved_tax_mark_logo.png" width="50" height="50" />
                <h3>Reset Password</h3>
            </div>
            <p class="text-danger">@TempData["Message"]</p>
            <form class="m-t" role="form" id="emailForm"
                  method="post"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-mode="replace"
                  data-ajax-failure="COMMON.ajaxfailure"
                  data-ajax-loading="#ajax-loader"
                  data-ajax-success="ajaxsuccessOnEmailSubmission"
                  data-ajax-url="@Url.Action("SecurityInformation","Account")">
                <div class="form-group">
                    <input id="emailaddress" class="form-control" asp-for="EmailAddress" placeholder="Email Address">
                    <span asp-validation-for="EmailAddress" style="background-color:white;color:red"></span>
                </div>
                <div id="emailSubmitDiv"><button id="emailSubmit" type="button" class="btn btn-primary block full-width m-b">Proceed</button></div>
                <div id="createAccountDiv" hidden><a id="createAccount" href="~/Account/Signup" class="btn btn-primary block full-width m-b">Create Account</a></div>
                <div id="loginDiv" hidden><a id="login" href="~/Account/Login" class="btn btn-primary block full-width m-b">Return to Login</a></div>
                @*<p class="text-muted text-center"><small>Do not have an account?</small></p>*@
            </form>
            <p class="m-t"> <small><strong>Copyright</strong> &copy; EvoForms @DateTime.UtcNow.Year</small> </p>
        </div>
    </div>
    <div id="scurityQuestionDiv" class="middle-box text-center loginscreen  animated fadeInDown" style="width:40%" hidden>
        <div>
            <div style="margin-top:60%">
                <img src="~/images/evolved_tax_mark_logo.png" width="50" height="50" />
                <h3>Security Question</h3>
            </div>
            <form id="regForm"
                  method="post"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-mode="replace"
                  data-ajax-failure="COMMON.ajaxfailure"
                  data-ajax-loading="#ajax-loader"
                  data-ajax-success="ajaxsuccess"
                  data-ajax-url="@Url.Action("ForgetPassword","Account")">
                <input id="email" name="email" hidden />
                <input name="PasswordSecuredQ" hidden />
                <div id="Q1Div">
                    <div class="form-group">
                        <label>Security Question<span class="text-danger">*</span></label>
                        <select asp-for="PasswordSecuredQ1" asp-items="ViewBag.SecuredQ1" class="select2" required disabled>
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Security Answer <span class="text-danger">*</span></label>
                        <input asp-for="PasswordSecuredA1" type="text" class="form-control" required>
                    </div>
                </div>
                <div id="Q2Div" hidden>
                    <div class="form-group">
                        <label>Security Question<span class="text-danger">*</span></label>
                        <select asp-for="PasswordSecuredQ2" asp-items="ViewBag.SecuredQ1" class="select2" required disabled>
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Security Answer <span class="text-danger">*</span></label>
                        <input asp-for="PasswordSecuredA2" type="text" class="form-control" required>
                    </div>
                </div>
                <div id="Q3Div" hidden>
                    <div class="form-group">
                        <label>Security Question<span class="text-danger">*</span></label>
                        <select asp-for="PasswordSecuredQ3" asp-items="ViewBag.SecuredQ1" class="select2" required disabled>
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Security Answer <span class="text-danger">*</span></label>
                        <input asp-for="PasswordSecuredA3" type="text" class="form-control" required>
                    </div>
                </div>
                <button id="submit" type="button" class="btn btn-primary block full-width m-b">Proceed</button>
            </form>
        </div>
    </div>
    <div id="responseDiv" class="mt-5 ml-5" hidden>
        <h3 id="responseH"></h3>
    </div>
    <environment names="Development">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/iziToast/dist/js/iziToast.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <!-- Only for demo purpose -->
        <script src="~/js/common.js"></script>
        <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
        <script src="~/lib/jqueryMask/jquery.mask.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/iziToast/dist/js/iziToast.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <!-- Only for demo purpose -->
        <script src="~/js/common.js"></script>
        <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
        <script src="~/lib/jqueryMask/jquery.mask.min.js"></script>
    </environment>
    <script>
        var attempts = 1;
        $(document).ready(function () {
            $("select").select2({
                theme: 'bootstrap4',
                placeholder: "Select One",
                //allowClear: true
            });
            $('.select2-container').css('width', '100%');
        });
        $(document).on('blur', '#emailaddress', function () {
            var EmailAddress = $('#emailaddress').val();
            var response = COMMON.doAjaxGetWithJSONResponse('ValidateEmailAddress', { EmailAddress: EmailAddress });
            if (!response) {
                $('#emailSubmitDiv').prop('hidden', true);
                $('#createAccountDiv').prop('hidden', false);
                $('#loginDiv').prop('hidden', false);
            } else {
                $('#emailSubmitDiv').prop('hidden', false);
                $('#createAccountDiv').prop('hidden', true);
                $('#loginDiv').prop('hidden', true);
            }
        });
        $('#emailSubmit').click(function () {
            let form = $('#emailForm');
            if (form.valid()) {
                form.submit();
            }
            return false;
        });
        $('#submit').click(function () {
            let form = $('#regForm');
            if (form.valid()) {
                $('#PasswordSecuredQ1').prop('disabled', false);
                $('#PasswordSecuredQ2').prop('disabled', false);
                $('#PasswordSecuredQ3').prop('disabled', false);
                form.submit();
            }
            return false;
        });
        function ajaxsuccessOnEmailSubmission(response) {
            if (response) {
                $('#emailDiv').prop('hidden', true);
                $('#scurityQuestionDiv').prop('hidden', false);
                $('#PasswordSecuredQ1').val(response.PasswordSecuredQ1).change();
                $('#PasswordSecuredQ2').val(response.PasswordSecuredQ2).change();
                $('#PasswordSecuredQ3').val(response.PasswordSecuredQ3).change();
                $('#email').val(response.EmailAddress);
            }
        }
        function ajaxsuccess(response) {
            if (response) {
                $('#scurityQuestionDiv').prop('hidden', true);
                $('#responseDiv').prop('hidden', false);
                $('#responseH').text('An email has been sent on you email address with reset link.');
            } else {
                if (attempts == 1) {
                    $('#Q1Div').prop('hidden', true);
                    $('#Q2Div').prop('hidden', false);
                    COMMON.notification(2,'Wrong answer');
                } else if (attempts == 2) {
                    $('#Q2Div').prop('hidden', true);
                    $('#Q3Div').prop('hidden', false);
                    COMMON.notification(2, 'Wrong answer');
                } else if (attempts == 3) {
                    $('#Q3Div').prop('hidden', true);
                    COMMON.notification(2, 'Wrong answer');

                    $('#scurityQuestionDiv').prop('hidden', true);
                    $('#responseDiv').prop('hidden', false);
                    $('#responseH').text('Your account has been blocked, please contact to admin');
                }
                $('#PasswordSecuredQ1').prop('disabled', true);
                $('#PasswordSecuredQ2').prop('disabled', true);
                $('#PasswordSecuredQ3').prop('disabled', true);
                attempts = attempts + 1;
            }
        }
        $('#SecuredQ1').change(function () {
            var selectedValue = $(this).val(); // Get the selected value
            $('#SecuredQ2').find('option[value="' + selectedValue + '"]').remove();
            $('#SecuredQ3').find('option[value="' + selectedValue + '"]').remove();
        });
        $('#SecuredQ2').change(function () {
            var selectedValue = $(this).val(); // Get the selected value
            $('#SecuredQ3').find('option[value="' + selectedValue + '"]').remove();
        });
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
        COMMON.notification('@TempData["Type"]', '@TempData["Message"]');
    </script>
</body>
</html>
