@model PdfFormDetailsRequest
@{
    ViewData["Title"] = "Certification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
        background-color: #ffdddd;
    }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        /* Mark the active step: */
        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #04AA6D;
        }

    .text-center {
        text-align: center;
        margin-bottom: 30px;
    }

        .text-center span {
            display: inline-block;
            border-radius: 5px;
            background-color: #1AB394;
            /*width: 20%;*/
        }

            .text-center span p {
                text-align: center;
                margin: 10px;
            }

    .form-box {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 4px;
        margin: 20px;
    }
</style>
<div class="ibox" style="margin-bottom:15%">
    <div class="ibox-content" style="border: none;">
        <div id="contentContainer">
            <object data="~/@Model.FileName"
                    type="application/pdf"
                    width="100%"
                    height="800px">
            </object>
        </div>
    </div>
</div>


<div class="footer fixed" style="height:25%; overflow-y: auto;">
    <form id="certify-form" method="post"
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-mode="replace"
          data-ajax-failure="COMMON.ajaxfailure"
          data-ajax-loading="#ajax-loader"
          data-ajax-success="ajaxsuccess"
          data-ajax-url="@Url.Action("Certify","Certification")">
        <div id="certifyDiv" hidden>
            <div class="form-check abc-radio abc-radio-info form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for=Agreement1 id="agreement1">
                <label class="form-check-label" for="agreement1">
                    <strong class="w9Certification" hidden>Under penalties of perjury, I certify that:</strong>
                    <strong class="w8BenCertification" hidden>
                        Under penalties of perjury, I declare that I have examined the information on this form and to the best of my
                        knowledge and belief it is true, correct, and complete. I further certify under penalties of perjury that:
                    </strong>
                    <strong class="w8ECICertification" hidden>
                        Under penalties of perjury, I declare that I have examined the information on this form and to the best of my
                        knowledge and belief it is true, correct, and complete. I further certify under penalties of perjury that:
                    </strong>
                </label>
            </div>
            <br />
            <br />
            <div class="w9Certification" hidden>
                <ol>
                    <li>The number shown on this form is my correct taxpayer identification number (or I am waiting for a number to be issued to me); and</li>
                    <li>I am not subject to backup withholding because: (a) I am exempt from backup withholding, or (b) I have not been notified by the Internal Revenue Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or (c) the IRS has notified me that I am no longer subject to backup withholding; and</li>
                    <li>I am a U.S. citizen or other U.S. person (defined below); and</li>
                </ol>
            </div>
            <div class="w8BenCertification" hidden>
                <ul>
                    <li>
                        I am the individual that is the beneficial owner (or am authorized to sign for the individual that is the
                        beneficial owner) of all the income or proceeds to which this form relates or am using this form to document
                        myself for chapter 4 purposes;
                    </li>
                    <li>The person named on line 1 of this form is not a U.S. person;</li>
                    <li>
                        This form relates to:
                        <ol type="a">
                            <li>Income not effectively connected with the conduct of a trade or business in the United States;</li>
                            <li>
                                Income effectively connected with the conduct of a trade or business in the United States but is not subject
                                to tax under an applicable income tax treaty;
                            </li>
                            <li>The partner’s share of a partnership’s effectively connected taxable income; or</li>
                            <li>
                                The partner’s amount realized from the transfer of a partnership interest subject to withholding under
                                section 1446(f);
                            </li>
                        </ol>
                    </li>
                    <li>
                        The person named on line 1 of this form is a resident of the treaty country listed on line 9 of the form (if
                        any) within the meaning of the income tax treaty between the United States and that country;
                    </li>
                    <li>
                        For broker transactions or barter exchanges, the beneficial owner is an exempt foreign person as defined in the
                        instructions.
                    </li>
                </ul>
                <p>
                    Furthermore, I authorize this form to be provided to any withholding agent that has control, receipt, or custody of
                    the income of which I am the beneficial owner or any withholding agent that can disburse or make payments of the
                    income of which I am the beneficial owner. I agree that I will submit a new form within 30 days if any certification
                    made on this form becomes incorrect.
                </p>
            </div>
            <div class="w8ECICertification" hidden>
                <ul>
                    <li>
                        I am the beneficial owner (or I am authorized to sign for the beneficial owner) of all the payments to which
                        this form relates;
                    </li>
                    <li>
                        The amounts for which this certification is provided are effectively connected with the conduct of a trade or
                        business in the United States;
                    </li>
                    <li>
                        The income for which this form was provided is includible in my gross income (or the beneficial owner’s gross
                        income) for the taxable year;
                    </li>
                    <li>The beneficial owner is not a U.S. person.</li>
                </ul>
                <p>
                    Furthermore, I authorize this form to be provided to any withholding agent that has control, receipt, or custody
                    of the payments of which I am the beneficial owner or any withholding agent that can disburse or make payments of
                    the amounts of which I am the beneficial owner.
                </p>
                <p>I agree that I will submit a new form within 30 days if any certification made on this form becomes incorrect.</p>
            </div>
            <div class="form-check abc-radio abc-radio-info form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for=Agreement2 id="agreement2">
                <label class="form-check-label" for="agreement2">
                    <strong>By checking this box you:</strong>
                </label>
            </div>
            <br />
            <br />
            Agree to use electronic records and signatures and confirm you have read the Electronic Record and Signature Disclosure Agree to <a href="@Url.Action("Index","TermsToUse")" target="_blank">Terms of Service</a> and confirm you have read <a href="@Url.Action("Index","PrivacyPolicy")" target="_blank">Privacy Policy</a>.
        </div>
        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" onclick="location.href='@Url.Action("GQIndividual","Individual")'" id="prevBtn" class="btn btn-md btn-default"> << Edit</button>
                <button type="button" id="nextBtn" class="btn btn-md btn-primary">Next Page >></button>
                <button type="button" id="certify-submit" class="btn btn-md btn-primary" hidden>Submit and Download >></button>
            </div>
        </div>
        <input id="certify-formDate" type="date" asp-for="EntryDate" class="form-control" hidden />
        <input id="certify-signature" asp-for="PrintName" hidden />
        <input id="certify-fontFamily" asp-for="FontFamily" hidden />
        <input id="certify-filePath" asp-for="FileName" hidden />
        <input id="certify-fontSize" asp-for="FontSize" hidden />
        <input id="certify-formName" asp-for="FormName" hidden />
        <input id="certify-isSignaturePasted" asp-for="IsSignaturePasted" hidden />
    </form>
</div>
<div id="modal-form" class="modal fade" aria-hidden="true" style="left:auto">
    <div class="modal-dialog">
        <div class="modal-content" style="width:max-content">
            <div class="modal-body">

                <form id="form" asp-action="Certification" asp-controller="Home" method="post">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Select Signature</th>
                                <th>Select Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.ButtonRequests)
                                        {
                                            <div><button type="button" class="form-control btn btn-primary" onclick="SelectSignature(this)" style="font-family:@item.FontFamily;font-size:@item.FontSize">@item.Text</button></div>
                                        }
                                    }
                                </td>
                                <td>
                                    <input id="formDate" type="date" asp-for="EntryDate" class="form-control" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input id="signature" asp-for="PrintName" hidden />
                    <input id="fontFamily" asp-for="FontFamily" hidden />
                    <input id="filePath" asp-for="FileName" hidden />
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            if ('@Model?.IsSignaturePasted' == 'False') {
                // Open the modal
                $('#modal-form').modal('show');
            }
            if ('@Model?.IsSignaturePasted' == 'True') {
                $('#certifyDiv').prop('hidden', false);
                //$('#prevBtn').prop('hidden', true);
                $('#nextBtn').prop('hidden', true);
                $('#certify-submit').prop('hidden', false);
                if ('@Model?.FormName' == '@AppConstants.W9Form') {
                    $('.w9Certification').prop('hidden', false);
                    $('.w8BenCertification').prop('hidden', true);
                    $('.w8ECICertification').prop('hidden', true);
                } else if ('@Model?.FormName' == '@AppConstants.W8BENForm') {
                    $('.w9Certification').prop('hidden', true);
                    $('.w8BenCertification').prop('hidden', false);
                    $('.w8ECICertification').prop('hidden', true);
                } else if ('@Model?.FormName' == '@AppConstants.W8ECIForm') {
                    $('.w9Certification').prop('hidden', true);
                    $('.w8BenCertification').prop('hidden', true);
                    $('.w8ECICertification').prop('hidden', false);
                }
            }
            //$('#prevBtn').on('click', function () {
            //    history.back();
            //});
            // Get the current date
            var currentDate = new Date().toISOString().split('T')[0];
            // Set the max attribute of the date input
            $('#formDate').attr('max', currentDate);
        });
        function SelectSignature(obj) {
            $('#signature').val(obj.innerText);
            $('#fontFamily').val(obj.style.fontFamily.replace(/"/g, ""));
            let form = $('#form');
            if (form.valid()) {
                form.submit();
            }
        }
        $('#certify-submit').click(function () {
            if ($('#agreement1').prop('checked') && $('#agreement2').prop('checked')) {
                let formCertify = $('#certify-form');
                formCertify.submit();
            } else {
                COMMON.notification(2, "Please check both agreements before submission.");
                return;
            }
        });
        function ajaxsuccess(response) {
            if (response.status == false) {
                COMMON.notification(2, "There's some technical issue");
                return;
            }
            $('#prevBtn').prop('hidden', true);
            $('#certifyDiv').empty();
            $('#certify-submit').prop('hidden', true);
            var name = response.printName;
            var formName = response.formName;
            var entityName = response.entityName;
            var instituteEmail = response.InstituteEmail;

            var link1 = $("<a>")
                .attr("href", "javascript:void(0)")
                .click(function () {
                    openFile(response.fileName);
                })
                .text("Please click here to download a copy for your records.").css("text-decoration", "underline");

            var text = "<p><strong>Dear " + name + ",</strong></p>" +
                "<p><strong>Your completed form " + formName + " has been submitted to " + entityName + ".</strong></p> <br/>";
            var linkText = $('<p><strong></strong></p>').append(link1).append('<strong> </strong>');

            var disclaimerText = $("<a>")
                .attr("href", "mailto:" + instituteEmail)
                .attr("target", "_blank")
                .text("Please contact " + entityName + " for any update required, if any.")
                .css("text-decoration", "underline");

            $('#certifyDiv').append(text, linkText, '<br /><br />', disclaimerText);
        }

        function openFile(fileName) {
            var link = document.createElement('a');
            link.href = '/' + fileName;
            link.download = fileName;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }

        // Disable back and forward navigation
        //window.onbeforeunload = function () {
        //    return "Are you sure you want to leave this page?";
        //};

        //window.addEventListener("popstate", function (event) {
        //    history.pushState(null, document.title, location.href);
        //});

    </script>
}
