@using EvolvedTax;
@inject IHttpContextAccessor _httpContextAccessor
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center">
                    <img alt="image" class="rounded-circle text-center" src="~/Images/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        @if (_httpContextAccessor.HttpContext?.Session.GetString("InstituteName") != null)
                        {
                            <span class="block m-t-xs font-bold">@_httpContextAccessor.HttpContext?.Session.GetString("InstituteName")</span>
                        }
                        else
                        {
                            <span class="block m-t-xs font-bold">Admin</span>
                        }
                        @*<span class="text-muted text-xs block">Art Director <b class="caret"></b></span>*@
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a class="dropdown-item" href="@Url.Action("Login", "Account")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img src="~/images/evolved_tax_mark_logo.png" width="50px" />
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Individual")">
                <a href="@Url.Action("GQIndividual", "Individual")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Individual", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "GQIndividual")"><a href="@Url.Action("GQIndividual", "Individual")">GQ Individual</a></li>
                    <li class="@Html.IsSelected(action: "TaxPayerDetails")"><a href="@Url.Action("TaxPayerDetails", "Home")">TaxPayerDetails</a></li>
                    <li class="@Html.IsSelected(action: "OpenForm83")"><a href="@Url.Action("OpenForm83", "Home")">Form 83(b)</a></li>
                    <li class="@Html.IsSelected(action: "EmailFrequency")"><a href="@Url.Action("EmailFrequency", "Home")">Email Frequency</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Institute")">
                <a href="@Url.Action("Master", "Institute")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Institutions</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Institute", cssClass: "in")">
                    @if (_httpContextAccessor.HttpContext?.Session.GetString("IsAdmin") == true.ToString())
                    {
                        <li class="@Html.IsSelected(action: "Master")"><a href="@Url.Action("Master", "Institute")">Master</a></li>
                    }
                    else
                    {
                        <li class="@Html.IsSelected(action: "Entities")"><a href="@Url.Action("Entities", "Institute")">Entities</a></li>
                    }
                    @*<li class="@Html.IsSelected(action: "Client")"><a href="@Url.Action("Client", "Institute")">Client</a></li>*@
                </ul>
            </li>
        </ul>
    </div>
</nav>