@model VerifyModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/evolved_tax_mark_logo.ico">
    <title>@ViewData["Title"] - Login to EvoTax Portal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/loader.css" />
        <link rel="stylesheet" href="~/lib/iziToast/dist/css/iziToast.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/loader.css" />
        <link rel="stylesheet" href="~/lib/iziToast/dist/css/iziToast.min.css" />
    </environment>
    <style>
        /* TOOGLE SWICH */


        .onoffswitch-inner:before {
            content: "Accept";
            padding-left: 0px;
            background-color: #1ab394;
            color: #FFFFFF;
            padding-right: 17px;
        }

        .onoffswitch-inner:after {
            content: "Reject";
            padding-right: 4px;
            background-color: #FFFFFF;
            color: #999999;
            text-align: right;
        }
    </style>

</head>
<body class="white-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <form id="form" class="m-t" role="form" method="post" asp-action="Verify" asp-controller="Account">
                <div class="form-group">
                    <input id="status" class="form-control" name="status" hidden="">
                </div>
                <h3>Please select your preferred method to receive below form1099(s) </h3>
                <table class="table table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th style="width:100%">Form</th>
                            <th style="width:50%">
                                E-Mail
                             
                                <input type="radio" id="selectAllAccept">
                            </th>
                            <th style="width:50%">
                                Paper Copy
                             
                                <input type="radio" id="selectAllReject">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Items.Count; i++)
                        {
                            <tr>
                                <td>@Model.Items[i].FormName</td>
                                <input type="text" name="Items[@i].FormName" value="@Model.Items[i].FormName" hidden="">
                                <input type="hidden" name="Items[@i].Rcp_Email" class="hidden-email" value="@Model.Items[i].Rcp_Email" >
                                <td class="text-center">
                                    @*<input type="radio"  id="AcceptItems[@i].IsAccepted" name="Items[@i].Action" value="Accept">*@
                                    <input type="radio" name="Items[@i].Action" value="Accept">
                                </td>
                                <td class="text-center">
                                    @*<input type="radio" id="RejectItems[@i].IsRejected" name="Items[@i].Action" value="Reject">*@
                                    <input type="radio" name="Items[@i].Action" value="Reject">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="submit" id="submit" class="btn btn-primary block full-width m-b">Submit</button>
                <h3><label id="dynamicNote">Please note that if you choose to receive Form 1099(s) via email, the email will be sent to <b style="font-weight: bold;">{emailaddress}</b></label></h3>
            </form>
        </div>
    </div>
   

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/switchery/switchery.js"></script>
        <script src="~/lib/iziToast/dist/js/iziToast.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <!-- Only for demo purpose -->
        <script src="~/js/common.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/switchery/switchery.js"></script>
        <script src="~/lib/iziToast/dist/js/iziToast.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <!-- Only for demo purpose -->
        <script src="~/js/common.js"></script>
    </environment>

    <script>
        COMMON.notification('@TempData["Type"]', '@TempData["Message"]');


       $(document).ready(function () {

            var emailValue = $(".hidden-email").val();

            // Set the dynamic note with the email address
            if (emailValue) {
                var labelText = $("#dynamicNote").text();
                labelText = labelText.replace("{emailaddress}", emailValue);
                $("#dynamicNote").text(labelText);
            }

        // Function to check/uncheck "Select All" based on individual radio buttons
        function updateSelectAll() {
            var allAcceptChecked = $("input[name^='Items'][value='Accept']:checked").length === $("input[name^='Items'][value='Accept']").length;
            var allRejectChecked = $("input[name^='Items'][value='Reject']:checked").length === $("input[name^='Items'][value='Reject']").length;

            $("#selectAllAccept").prop('checked', allAcceptChecked);
            $("#selectAllReject").prop('checked', allRejectChecked);
        }

        // Check/uncheck individual radio buttons
        $("input[name^='Items']").click(function () {
            updateSelectAll();
        });

        // Click event for "Select All Accept"
        $("#selectAllAccept").click(function () {
            var isChecked = $(this).prop('checked');
            $("input[name^='Items'][value='Accept']").prop('checked', isChecked);
            $("input[name^='Items'][value='Reject']").prop('checked', false);
        });

        // Click event for "Select All Reject"
        $("#selectAllReject").click(function () {
            var isChecked = $(this).prop('checked');
            $("input[name^='Items'][value='Reject']").prop('checked', isChecked);
            $("input[name^='Items'][value='Accept']").prop('checked', false);
        });
    });

        $("#submit").click(function () {
            $('#submit').prop('disabled', false);
        });
    </script>
</body>

</html>
