@{
    ViewData["Title"] = "SelectForm";
    Layout = "~/Views/Shared/_LayoutInstitute.cshtml";
}
<style>
    a {
        width: 100%
    }
</style>
@*<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_A_")">1099_A</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_B_")">1099_B</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_C_")">1099_C</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_CAP_")">099_CAP</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_DIV_")">1099_DIV</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_G_")">1099_G</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_INT_")">1099_INT</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_K_")">1099_K</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_LS_")">1099_LS</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_LTC_")">1099_LTC</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_MISC_")">1099_MISC</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_NEC_")">1099_NEC</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_OID_")">1099_OID</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_PATR_")">1099_PATR</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_Q_")">1099_Q</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_R_")">1099_R</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_S_")">1099_S</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_SA_")">1099_SA</a>
                        </div>
                        <div class="col-md-3 mb-2">
                            <a class="btn btn-primary" href="@Url.Action("Index", "Form1099_SB_")">1099_SB</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
