@model TaxPayerInfo
@{
    ViewData["Title"] = "TaxPayer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TaxPayer Details</h1>
<div class="ibox">
    <div class="ibox-content" style="border: none;">
        <form asp-action="TaxPayerDetails" asp-controller="Home" method="post">
            <div class="col-md-6">
                <div>
                    <label>Enter Email</label>
                    <input name="emailId" class="form-control" />
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
@if (Model != null)
{
    <div class="ibox">
        <div class="ibox-content" style="border: none;">
            <div class="col-md-8">
                <table>
                    <tr><th style="width:50%">TAXPAYER’S NAME</th><td>@Model.TaxpayerName</td></tr>
                    <tr><th style="width:50%">TAXPAYER’S SOCIAL SECURITY NUMBER</th><td>@Model.TaxpayerSSN</td></tr>
                    <tr><th style="width:50%">Address</th><td>@Model.Address</td></tr>
                    <tr><th style="width:50%">2023</th><td>@Model.Year</td></tr>
                    <tr><th style="width:50%">State</th><td>@Model.State</td></tr>
                </table>
            </div>
        </div>
    </div>
}

