@model FormRequest
@{
    ViewData["Title"] = "General Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
        background-color: #ffdddd;
    }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        /* Mark the active step: */
        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #04AA6D;
        }

    p {
        font-size: large;
        color: white;
    }

    .text-center {
        text-align: center;
        margin-bottom: 30px;
    }

        .text-center span {
            display: inline-block;
            border-radius: 5px;
            background-color: #1AB394;
            /*width: 20%;*/
        }

            .text-center span p {
                text-align: center;
                margin: 10px;
            }

    .form-box {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 4px;
        margin: 20px;
    }

</style>
<div class="ibox" style="margin-bottom:15%">
    <div class="ibox-content" style="border: none;">
        <div id="contentContainer"></div>
        <form id="regForm"
              method="post"
              data-ajax="true"
              data-ajax-method="post"
              data-ajax-mode="replace"
              data-ajax-failure="COMMON.ajaxfailure"
              data-ajax-loading="#ajax-loader"
              data-ajax-success="ajaxsuccess"
              data-ajax-url="@Url.Action("W8ECI","Entity")">

            <!-- One "tab" for each step in the form: -->
            <div>
                <!--General Questionare View-->
                <partial name="_generalQuestionareW8ECI" model="Model" />

                <!--W8 ECI Questionare View-->
                <partial name="_w8ECIQuestionare" model="Model" />
            </div>
            <!-- Hidden field for isPartialSave -->
            <input type="hidden" asp-for="IsPartialSave" id="isPartialSave" value="true">
            <input type="hidden" id="activeTabIndex" name="activeTabIndex" value="" />
            <!-- Circles which indicates the steps of the form: -->
            <div id="stepsDiv" style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
        </form>
    </div>
</div>


<div class="footer fixed" style="height:25%">
    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" onclick="location.href='@Url.Action("GQEntity","Entity")'" id="editBtn" class="btn btn-md btn-dark" hidden> << Edit</button>
            <button type="button" id="SaveExitBtn" class="btn btn-md btn-primary">Save Progress</button>
            <button type="button" id="prevBtn" class="btn btn-md btn-dark" onclick="nextPrev(-1)"> << Previous Page</button>
            <button type="button" id="nextBtn" class="btn btn-md btn-primary" onclick="nextPrev(1)">Next Page >></button>
        </div>
    </div>
</div>
<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:fit-content">
            <div class="modal-body">
                <div id="pdf_containers">
                    <canvas id="canvas2"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">


        $(document).ready(function () {


            var activeTabIndex = @Html.Raw(Json.Serialize(Model != null ? Model.activeTabIndex : "0"));
            // If activeTabIndex is not set, default to the first tab
            if (!activeTabIndex) {
                activeTabIndex = 0;
            }
            // Show the active tab and hide the others
            $(".tab").css("display", "none");
            $(".tab[data-tab-index='" + activeTabIndex + "']").css("display", "block");

            $("select").select2({
                theme: 'bootstrap4',
                placeholder: "Select One",
                //allowClear: true
            });
            $('.select2-container').css('width', '100%');
            $('#Ssnitnein').attr('placeholder', '00-0000000');
            $('#Ssnitnein').mask('00-0000000', { reverse: true });

            //-------------------//
            $('select').change();
        });
        $(window).on('load', function () {
            $('select').change();
            var checkedDEW8ECI = $("input[type='radio'][name='DEW8ECI']:checked");
            if (checkedDEW8ECI.length > 0) {
                checkedDEW8ECI.trigger("change");
            }

            var checkedCheckIfFtinNotLegallyRequiredYN = $("input[type='radio'][name='CheckIfFtinNotLegallyRequiredYNW8ECI']:checked");
            if (checkedCheckIfFtinNotLegallyRequiredYN.length > 0) {
                checkedCheckIfFtinNotLegallyRequiredYN.trigger("click");
            }

            var checkedOnBehalfName = $("input[type='radio'][name='W8ECIOnBehalfName']:checked");
            if (checkedOnBehalfName.length > 0) {
                checkedOnBehalfName.trigger("click");
            }


            //var W8FormTypecheckedRadioButton = $("input[type='radio'][name='W8FormType']:checked");
            //if (W8FormTypecheckedRadioButton.length > 0) {
            //    W8FormTypecheckedRadioButton.trigger("change");
            //}
        });
        var textarea = document.getElementById("Items");
        var counter = document.getElementById("textCounter");
        textarea.addEventListener("input", function () {
            var remainingChars = textarea.maxLength - textarea.value.length;
            counter.textContent = remainingChars + " characters remaining";
        });
        function ChangeMaskingW8ECI(obj) {

            if (obj.value == 'S') {
                $('#SsnitneinDQW8ECI').attr('placeholder', '000-00-0000');
                $('#SsnitneinDQW8ECI').mask('000-00-0000', { reverse: true });
            } else if (obj.value == 'E') {
                $('#SsnitneinDQW8ECI').attr('placeholder', '00-0000000');
                $('#SsnitneinDQW8ECI').mask('00-0000000', { reverse: true });
            } else {
                $('#SsnitneinDQW8ECI').attr('placeholder', '000-00-0000');
                $('#SsnitneinDQW8ECI').mask('000-00-0000', { reverse: true });
            }
        }
        function ShowHideFTIN(obj) {

            if (obj.value === 'false' || obj.value === 'False') {
                $('#FTINDiv').prop('hidden', true);
                $('#FTIN').val('');
            } else if (obj == 'false' || obj.value === 'False') {
                $('#FTINDiv').prop('hidden', true);
                $('#FTIN').val('');
            } else if (obj.value === 'true' || obj.value === 'True') {
                $('#FTINDiv').prop('hidden', false);
            }
            else if (obj == 'true' || obj == 'True') {
                $('#FTINDiv').prop('hidden', false);
            }
            else if (obj.value === undefined) {
                $('#FTINDiv').prop('hidden', true);
                $('#FTIN').val('');
            }
        }
        function ajaxsuccess(response) {
            if (response.message != '@AppConstants.FormPartiallySave') {

                document.getElementById("stepsDiv").style.display = "none";
                let pdfUrl = window.location.origin + '//' + response;
                // Create the object element
                var $pdfObject = $('<object>').attr({
                    data: pdfUrl,
                    type: 'application/pdf',
                    width: '100%',
                    height: '800px'
                });

                $('#contentContainer').empty();
                // Append the object element to the container
                $('#contentContainer').append($pdfObject);
                $('#editBtn').prop('hidden', false);
                $('#prevBtn').prop('hidden', true);
                $('#nextBtn').prop('hidden', true);
                $('#SaveExitBtn').prop('hidden', true);
            }
            else if (response.message == '@AppConstants.FormPartiallySave') {
                COMMON.notification(1, "Saving ...");
            }
        }
        function ShowHideProvince(obj) {
            $('#countryPerm').val('United States').change();
            $('#countryPerm').prop('disabled', true);
            if (obj.value == 'United States') {
                $('#provinceDiv').prop('hidden', true);
                $('#province').val('');
                $('#stateDiv').prop('hidden', false);
                $('#SamePermAddress').prop('checked', true).trigger('change');
                $('#businessCheckboxDiv').prop('hidden', false);
                $('#businessAddressHeading').prop('hidden', true);
                $('#lblZipCode').text('Zip Code').append(`<span class="text-danger"> *</span>`);
            } else {
                $('#provinceDiv').prop('hidden', false);
                $('#stateDiv').prop('hidden', true);
                $('#state').val(1);
                $('#lblZipCode').text('Zip/Postal Code').append(`<span class="text-danger"> *</span>`);
                $('#SamePermAddress').prop('checked', false).trigger('change');
                $('#businessCheckboxDiv').prop('hidden', true);
                $('#businessAddressHeading').prop('hidden', false);
            }
        }
        function ShowHideProvincePerm(obj) {
            if (obj.value == 'United States') {
                $('#provincePermDiv').prop('hidden', true);
                $('#provincePerm').val('');
                $('#statePermDiv').prop('hidden', false);
                $('#lblZipCodePerm').text('Zip Code').append(`<span class="text-danger"> *</span>`);
            } else {
                $('#provincePermDiv').prop('hidden', false);
                $('#statePermDiv').prop('hidden', true);
                $('#statePerm').val(1);
                $('#lblZipCodePerm').text('Zip/Postal Code').append(`<span class="text-danger"> *</span>`);
            }
        }

        function HideAddress(obj) {
            if (obj.checked) {
                $('#SamePermAddressDiv').prop('hidden', true);
            } else {
                $('#SamePermAddressDiv').prop('hidden', false);
            }
        }
        var currentTab = 0; // Current tab is set to be the first tab (0)
        showTab(currentTab); // Display the current tab


        function ShowHideFTINW8ECI(obj) {
            if (String(obj.value).toLowerCase() == 'true') {
                $('#FTINW8ECIDiv').prop('hidden', false);
            } else {
                $('#FTINW8ECIDiv').prop('hidden', true);
                $('#ForeignTaxIdentifyingNumberW8ECI').val('');
            }
        }
        function W8ECIOnBehalfNameFunc(obj) {
            $('#W8ECIOnBehalfNameDiv').prop('hidden', false);
            if (String(obj.value).toLowerCase() == 'true') {
                $('#lbl_authSignatory').html('Please enter the name of the authorized signatory <span class="text-danger">*</span>');
            } else {
                $('#lbl_authSignatory').html('Please enter the name of the beneficial owner <span class="text-danger">*</span>');
            }
        }
        $("#SaveExitBtn").click(function () {
            let form = $('#regForm');
            if (form.valid()) {
                $('#isPartialSave').val('true');
                var activeTabIndex = $('.tab[style*="display: block"]').data('tab-index');
                $('#activeTabIndex').val(activeTabIndex);
                form.submit();
            }

        });
        function SelectDEW8ECIEntity(obj) {
            //console.log(typeof obj, obj);
            //console.log(typeof obj.value, obj.value);
            if (obj.value === 'false' || obj.value === 'False') {
                $('#DeW8ECIEntityOwnerNameDiv').prop('hidden', true);
                $('#DEOwnerNameW8ECI').val('');
            } else if (obj == 'false' || obj.value === 'False') {
                $('#DeW8ECIEntityOwnerNameDiv').prop('hidden', true);
                $('#DEOwnerNameW8ECI').val('');
            } else if (obj.value === 'true' || obj.value === 'True') {
                $('#DeW8ECIEntityOwnerNameDiv').prop('hidden', false);
            }
            else if (obj == 'true' || obj == 'True') {
                $('#DeW8ECIEntityOwnerNameDiv').prop('hidden', false);
            }
            else if (obj.value === undefined) {
                $('#DeW8ECIEntityOwnerNameDiv').prop('hidden', true);
                $('#DEOwnerNameW8ECI').val('');
            }
        }
        function showTab(n) {

            var x = document.querySelectorAll('.tab:not([hidden])');
            x[n].style.display = 'block';

            var prevBtn = document.getElementById('prevBtn');
            var nextBtn = document.getElementById('nextBtn');

            if (n === 0) {
                prevBtn.disabled = true;
            } else {
                prevBtn.disabled = false;
            }
            if (n === x.length - 1) {
                nextBtn.innerHTML = 'View and Edit Form W-8ECI >>';
            } else {
                nextBtn.innerHTML = 'Next Page >>';
            }

            fixStepIndicator(n);
            /*
            // This function will display the specified tab of the form ...
            var x = document.querySelectorAll('.tab:not([hidden])');
            document.getElementById("nextBtn").innerHTML = "Next Page >>";
            x[n].style.display = "block";
            // ... and fix the Previous/Next buttons:
            if (n == 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (x.length - 1)) {
                document.getElementById("nextBtn").innerHTML = "View and Edit Form W-8ECI >>";
                // ... and run a function that displays the correct step indicator:
                fixStepIndicator(n)
            }
            */
        }

        function nextPrev(n) {
            var x = document.querySelectorAll('.tab:not([hidden])');
            var currentTab = 0; // Initialize currentTab to 0

            if ($('#SamePermAddress').is(':checked')) {
                //--------------------//
                //$('#countryPerm').val($('#country').val()).change();
                $('#adreess1Perm').val($('#adreess1').val());
                $('#adreess2Perm').val($('#adreess2').val());
                $('#cityPerm').val($('#city').val());
                $('#provincePerm').val($('#province').val());
                $('#zipCodePerm').val($('#zipCode').val());
                $('#statePerm').val($('#state').val());
                //--------------------//
            }

            $('#contentContainer').empty();

            if (n == 1 && !$('#regForm').valid()) return false;

            currentTab = Array.from(x).findIndex((tab) => tab.style.display === 'block');
            if (currentTab >= 0) {
                x[currentTab].style.display = 'none';
            }
            currentTab += n;

            if (currentTab >= x.length) {
                let form = $('#regForm');
                if (form.valid()) {
                    $('#isPartialSave').val('false');
                    form.submit();
                }
                return false;
            }

            x.forEach((tab) => {
                tab.style.display = 'none';
            });
            x[currentTab].style.display = 'block';

            // Enable "Previous" button
            if (currentTab > 0) {
                $('#prevBtn').prop('disabled', false);
            } else {
                $('#prevBtn').prop('disabled', true);
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }

        /*
        function nextPrev(n) {

            // This function will figure out which tab to display
            // var x = document.getElementsByClassName("tab");
            var x = document.querySelectorAll('.tab:not([hidden])');

            if ($('#SamePermAddress').is(':checked')) {
                //--------------------//
                //$('#countryPerm').val($('#country').val()).change();
                $('#adreess1Perm').val($('#adreess1').val());
                $('#adreess2Perm').val($('#adreess2').val());
                $('#cityPerm').val($('#city').val());
                $('#provincePerm').val($('#province').val());
                $('#zipCodePerm').val($('#zipCode').val());
                $('#statePerm').val($('#state').val());
                //--------------------//
            }
            $('#contentContainer').empty();
            // Exit the function if any field in the current tab is invalid:
            //if (n == 1 && !validateForm()) return false;
            if (n == 1 && !$('#regForm').valid()) return false;
            if (currentTab < x.length) {
                // Hide the current tab:
                x[currentTab].style.display = "none";
                // Increase or decrease the current tab by 1:
            }
            currentTab = currentTab + n;
            // if you have reached the end of the form... :
            if (currentTab >= x.length) {

                //...the form gets submitted:
                // document.getElementById("regForm").submit();
                let form = $('#regForm');
                if (form.valid()) {
                    $('#isPartialSave').val('false');
                    form.submit();
                }
                return false;
            }

            // Otherwise, display the correct tab:
            showTab(currentTab);
        }

        */

        function validateForm() {
            // This function deals with validation of the form fields
            var x, y, i, valid = true;
            //x = document.getElementsByClassName("tab");
            var x = document.querySelectorAll('.tab:not([hidden])');
            sp = x[currentTab].getElementsByTagName("span");
            y = x[currentTab].getElementsByTagName("input");
            z = x[currentTab].getElementsByTagName("select");
            // A loop that checks every input field in the current tab:
            for (i = 0; i < y.length; i++) {
                // If a field is empty...
                if (y[i].hasAttribute("required") && y[i].value == "") {
                    // add an "invalid" class to the field:
                    y[i].className += " invalid";
                    // and set the current valid status to false:
                    valid = false;
                }
                if (y[i].id == "socialSecurityNumber" && y[i].value.length < 11) {
                    // add an "invalid" class to the field:
                    y[i].className += " invalid";
                    // and set the current valid status to false:
                    valid = false;
                }
            }

            // A loop that checks every input field in the current tab:
            for (i = 0; i < z.length; i++) {
                // If a field is empty...
                if (z[i].hasAttribute("required") && z[i].value == "") {
                    // add an "invalid" class to the field:
                    sp[7].style.backgroundColor = "#ffdddd"
                    // and set the current valid status to false:
                    valid = false;
                }
            }
            // If the valid status is true, mark the step as finished and valid:
            if (valid) {
                // A loop that checks every input field in the current tab:
                for (i = 0; i < y.length; i++) {
                    // If a field is empty...
                    if (y[i].hasAttribute("required") && y[i].value != "") {
                        // add an "invalid" class to the field:
                        y[i].classList.remove("invalid")
                        // and set the current valid status to false:
                    }
                }

                // A loop that checks every input field in the current tab:
                for (i = 0; i < z.length; i++) {
                    // If a field is empty...
                    if (z[i].hasAttribute("required") && z[i].value != "") {
                        // add an "invalid" class to the field:
                        sp[7].style.backgroundColor = "";
                        // and set the current valid status to false:
                    }
                }
                document.getElementsByClassName("step")[currentTab].className += " finish";
            }
            return valid; // return the valid status
        }

        function fixStepIndicator(n) {
            // This function removes the "active" class of all steps...
            var i, x = document.getElementsByClassName("step");
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active", "");
            }
            //... and adds the "active" class to the current step:
            x[n].className += " active";
        }
    </script>
}